body {
    background-color: #FFC0CB;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    background-color: #FFF;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
    margin-top: 100px;
}

h1 {
    color: #FF69B4;
}

input[type="text"],
input[type="password"],
input[type="number"]{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #FFB6C1;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #FF69B4;
    color: #FFF;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #FF1493;
}